[submodule "lugo-web-client"]
	path = lugo-web-client
	url = ../lugo-web-client
[submodule "esp32-assistant"]
	path = esp32-assistant
	url = ../esp32-assistant
[submodule "rpi-assistant"]
	path = rpi-assistant
	url = ../rpi-assistant
[submodule "servers/mcp-basic-tools"]
	path = servers/mcp-basic-tools
	url = ../mcp-basic-tools
[submodule "servers/voiceprint-api"]
	path = servers/voiceprint-api
	url = ../voiceprint-api
[submodule "lugo-landing"]
	path = lugo-landing
	url = ../lugo-landing
[submodule "servers/router-memory-services"]
	path = servers/router-memory-services
	url = ../router-memory-services
